{% extends 'base_layout.html' %}

{% block content %}
<h1>Delete</h1>
 <form action="{% url 'posts:delete_post' %}" method="post" style="display: inline;">
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        {% endif %}
        <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </form>
    {% endblock %}