{% extends 'base_layout.html' %}

 {% block content %}
    <h1>Log in</h1>
    <form class="site-form" action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
         <input type="hideen" name="next" value="{{ request.GET.next}}">
         {% endif %}
        <input type="submit" value="Login">
    </form>
{% endblock %}