{% load static from staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Microlly.net</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <header class="wrapper">
        <h1><a href="{% url 'home' %}"><img src="{% static 'logo.png' %}" alt="microblogging" </a> </h1> <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                    <li><a href="{% url 'posts:create' %}" class="highlight">New Post</a></li>
                    <li><a href="{% url 'posts:delete_post' %}" class="highlight">Delete</a></li>
                    {% else %}
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    <li><a href="{% url 'accounts:signup' %}">Signup</a></li>

                    {% endif %}

                    
                </ul>
                </nav>
    </header>
    <div class="wrapper">
        {% block content %}


        {% endblock %}
    </div>
</body>

</html>