{% extends 'base_layout.html' %}

{% block content %}
<div class="create-post">
    <h2>Create a New Post</h2>
    <form class="site-form" action="{% url 'posts:create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Create">
    </form>
</div>
<script src="/static/slugify.js"></script>
{% endblock %}