{% extends 'base_layout.html' %}
{% block content%}
<h1>Posts List</h1>
<div class="post">
    {% for post in posts %}
    <div class="post">
        <h2><a href="{% url 'posts:detail' slug=post.slug %}">{{ post.title }}</a></h2>
        <p>{{ post.snippet }}</p>
        <p>{{ post.date }}</p>
        <p class="author">added by {{ post.author.username}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}