{% extends 'base_layout.html' %}
{% block content %}
<div class="post-detail">
    <div class="post">
        <img src="{{ post.thumb.url }}" />
        <h2>{{ post.title }}</h2>
        <p>{{ post.body }}</p>
        <p>{{ post.date }}</p>
    </div>
</div>
{% endblock %}